# Comfy Router — public specification.
#
# GENERATED ONE-WAY — DO NOT HAND-EDIT.
# Projected automatically from the canonical Comfy API contract and synced
# by CI. Change the upstream contract, not this public copy.

openapi: 3.0.2
info:
  title: Comfy Router
  description: "Comfy Router's public contract: the model catalog and the model-ID-addressed invocation routes, with the error buckets they return. Projected from the canonical Comfy API contract."
  version: "1.0"
servers:
  - url: https://api.comfy.org
tags:
  - name: Comfy Router
    description: Comfy Router's canonical, model-ID-addressed routes.
paths:
  /v1/models:
    get:
      summary: List the models Comfy Router can run.
      description: "Comfy Router's model catalog - one page of the canonical model IDs that `POST /v1/models/{provider}/{model}` accepts. An SDK calls this on cold start to discover what is runnable, and the `model_not_found` suggestions come from the same catalog, so an ID listed here that then 404s on invocation would be worse than either failure alone. That agreement is structural rather than a promise: an entry's `provider` and `model` are the two path segments of the invocation route and reference the SAME schema components that route's path parameters do, and `id` is those two segments joined by `/`."
      operationId: listRouterModels
      tags:
        - Comfy Router
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RouterCatalogCursor"
        - $ref: "#/components/parameters/RouterCatalogLimit"
      responses:
        "200":
          description: OK - one page of the model catalog.
          headers:
            X-Comfy-Request-Id:
              $ref: "#/components/headers/RouterRequestIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouterModelListResponse"
        "400":
          $ref: "#/components/responses/RouterRequestError"
        "401":
          $ref: "#/components/responses/RouterRequestError"
  /v1/models/{provider}/{model}:
    get:
      summary: Read one partner model's catalog entry by canonical model ID.
      description: Per-model detail for a single Comfy Router model, so a caller can check one model without walking the whole paginated catalog. The SDKs use it to look a model up immediately before invoking it.
      operationId: getRouterModel
      tags:
        - Comfy Router
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RouterProvider"
        - $ref: "#/components/parameters/RouterModel"
      responses:
        "200":
          description: OK - the model's catalog entry.
          headers:
            X-Comfy-Request-Id:
              $ref: "#/components/headers/RouterRequestIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouterModelDetail"
        "404":
          $ref: "#/components/responses/RouterRequestError"
    post:
      summary: Run a partner model synchronously by canonical model ID.
      description: "Comfy Router's canonical, model-ID-addressed entry point. The request body is the partner model's OWN native JSON input and the success response is that model's OWN native JSON output: Router forwards both unchanged instead of imposing a Comfy-shaped envelope, so a caller can move between the partner's API and Router by changing the host. This is the SYNCHRONOUS path, mirroring `POST https://fal.run/{id}` - the response carries the finished result. A queued counterpart, `/v1/queue/models/{provider}/{model}`, is planned and would put fal's `fal.run` / `queue.fal.run` split onto a single host; it is not part of this contract yet."
      operationId: runRouterModel
      tags:
        - Comfy Router
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RouterProvider"
        - $ref: "#/components/parameters/RouterModel"
      requestBody:
        required: true
        description: The partner model's native JSON input, forwarded to the provider unchanged.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RouterModelInput"
      responses:
        "200":
          description: OK - the partner model's native JSON output, returned unchanged.
          headers:
            X-Comfy-Request-Id:
              $ref: "#/components/headers/RouterRequestIdHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouterModelOutput"
        "403":
          $ref: "#/components/responses/RouterRequestError"
        "404":
          $ref: "#/components/responses/RouterRequestError"
        "422":
          $ref: "#/components/responses/RouterModelValidationError"
        "503":
          $ref: "#/components/responses/RouterRequestError"
        "504":
          $ref: "#/components/responses/RouterRequestError"
  /v1/models/{provider}/{model}/openapi.json:
    get:
      summary: Read one partner model's input schema as an OpenAPI document.
      description: The per-model input schema for a single Comfy Router model, served as a standalone OpenAPI document, so a caller - an SDK, a codegen tool, or an agent - can discover a model's arguments without reading Comfy's prose docs. It mirrors fal's per-model schema endpoint, and it is the discovery mechanism the SDK quickstart depends on.
      operationId: getRouterModelInputSchema
      tags:
        - Comfy Router
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RouterProvider"
        - $ref: "#/components/parameters/RouterModel"
      responses:
        "200":
          description: OK - the model's input schema, as a standalone OpenAPI document.
          headers:
            X-Comfy-Request-Id:
              $ref: "#/components/headers/RouterRequestIdHeader"
            ETag:
              $ref: "#/components/headers/RouterSchemaETagHeader"
            Cache-Control:
              $ref: "#/components/headers/RouterSchemaCacheControlHeader"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouterModelInputSchemaDocument"
        "304":
          description: Not Modified - the document is unchanged since the `ETag` the caller sent in `If-None-Match`. No body is returned.
          headers:
            X-Comfy-Request-Id:
              $ref: "#/components/headers/RouterRequestIdHeader"
            ETag:
              $ref: "#/components/headers/RouterSchemaETagHeader"
            Cache-Control:
              $ref: "#/components/headers/RouterSchemaCacheControlHeader"
        "404":
          $ref: "#/components/responses/RouterRequestError"
        "500":
          $ref: "#/components/responses/RouterRequestError"
components:
  schemas:
    RouterChargesOnPolicyRejection:
      type: string
      description: Whether a call this model REFUSES on content-policy grounds is nevertheless charged to the caller. Providers differ, the difference is invisible at call time, and a user who sees an error and a charge for the same call has no way to have known - so it is stated per model, before the call, rather than left to per-provider folklore.
      example: unknown
    RouterErrorResponse:
      type: object
      description: "Router's request-level error body: what is returned when the request never reached the model, or failed for a reason the model itself did not report - auth, quota, an unknown model ID, or provider transport. A model-level validation failure has its own shape, `RouterValidationErrorResponse`, because flattening a FastAPI `detail[]` array into this `detail` string would destroy the per-field granularity an SDK branches on."
      properties:
        detail:
          type: string
          description: Human-readable description of the failure, safe to surface to an end user. Not machine-parsed - branch on `error_type` instead.
        error_type:
          $ref: "#/components/schemas/RouterErrorType"
      required:
        - detail
        - error_type
    RouterErrorType:
      type: string
      description: "Coarse, machine-readable bucket for a Router failure, mirrored on the `X-Comfy-Error-Type` response header so a caller can branch without parsing the body. The set is closed at fifteen values: the six request-level buckets `invalid_input`, `content_policy_violation`, `provider_error`, `provider_timeout`, `insufficient_credits` and `model_not_found`, plus the transport-level `unauthorized`, `forbidden`, `concurrency_limit_exceeded`, `client_disconnected`, `internal_error`, `deadline_exceeded`, `not_enabled`, `service_unavailable` and `rate_limited`."
      example: invalid_input
      x-comfy-error-types:
        - value: invalid_input
          tier: request
          meaning: The request was rejected before it reached the model - a malformed body, a malformed or expired pagination cursor, or an input the model's own schema does not accept.
        - value: content_policy_violation
          tier: request
          meaning: "The provider refused the request on content-policy grounds. The refusal is deterministic: re-sending the same input will be refused again."
        - value: provider_error
          tier: request
          meaning: The partner provider reported a failure of its own, or returned a response Router could not interpret as a result.
        - value: provider_timeout
          tier: request
          meaning: "The partner provider did not answer within its deadline. This bucket is the PROVIDER timing out and never Router's own server deadline, which is reported as `deadline_exceeded` - the two share `504` and are separated because they name different causes: this one says the partner failed, that one says Comfy stopped holding the connection."
        - value: insufficient_credits
          tier: request
          meaning: The calling workspace does not have enough credits to run the model.
        - value: model_not_found
          tier: request
          meaning: The `{provider}/{model}` ID names no model Router can run; an unknown provider lands here too. `detail` carries up to three suggestions drawn from the models the caller is entitled to see.
        - value: unauthorized
          tier: transport
          meaning: The request carried no usable credential.
        - value: forbidden
          tier: transport
          meaning: The credential is valid but is not entitled to this model or this operation.
        - value: concurrency_limit_exceeded
          tier: transport
          meaning: The workspace already has as many calls in flight as it is allowed; retry once one of them finishes.
        - value: client_disconnected
          tier: transport
          meaning: "The caller closed the connection before Router could return a result. It is logged rather than delivered - there is no socket left to write it to - and it is an attribution, not a billing outcome: a provider generation that completed is billed regardless of whether the caller received the response."
        - value: internal_error
          tier: transport
          meaning: Router itself failed. It is also the value a client should treat any UNRECOGNIZED bucket as, so a later addition to the set does not break a client generated before it.
        - value: deadline_exceeded
          tier: transport
          meaning: "Comfy stopped holding the connection at its own configured bound before an answer arrived. It shares `504` with `provider_timeout` and the pair says which side ran out of time; this one is Comfy's own bound, so nothing about the request was rejected and the same request may be retried. It says nothing about the charge: a provider generation that completed is billed regardless of whether the caller received the response."
        - value: not_enabled
          tier: transport
          meaning: "Comfy Router is not switched on for this caller yet. Nothing about the request is wrong and the model exists, which is why this is not `model_not_found`; it shares `403` with `forbidden` and is NOT the same thing, because `forbidden` is an entitlement decision about the caller while this is a state of the rollout. It is TERMINAL: do not retry, and do not treat it as an outage."
        - value: service_unavailable
          tier: transport
          meaning: 'A service Comfy Router depends on is temporarily unavailable and the caller did nothing wrong. Retry it with backoff: it is the one bucket here whose condition clears on its own, without the caller changing the request and without a concurrency slot freeing, which is what distinguishes it from the other retryable answers (`concurrency_limit_exceeded`, `deadline_exceeded`). It is separate from `internal_error` - which is a `500` and means Router itself failed - so a client can tell "come back shortly" from "this call is not going to work".'
        - value: rate_limited
          tier: transport
          meaning: "The caller has spent an allowance measured over a WINDOW and must wait for that window to roll. It shares `429` with `concurrency_limit_exceeded` and is not the same thing: that one clears the moment one of the caller's own in-flight calls finishes, so retrying in seconds is right, whereas nothing the caller does drains this one early. `detail` names the window."
    RouterModelBilling:
      type: object
      description: Per-model billing FACTS a caller needs before invoking - not prices. Usage and cost figures never appear here.
      properties:
        charges_on_policy_rejection:
          $ref: "#/components/schemas/RouterChargesOnPolicyRejection"
      required:
        - charges_on_policy_rejection
    RouterModelDetail:
      type: object
      description: "Per-model detail for one Comfy Router model: everything the catalog listing reports for it, plus the per-model fields that only the single-model route carries."
      allOf:
        - $ref: "#/components/schemas/RouterModelListEntry"
        - $ref: "#/components/schemas/RouterModelDetailFields"
    RouterModelDetailFields:
      type: object
      description: "The half of `RouterModelDetail` the catalog listing does NOT carry: per-model fields worth one lookup but not worth repeating on every entry of a paginated catalog page."
      properties:
        input_schema_url:
          type: string
          format: uri
          pattern: ^https://
          maxLength: 2048
          description: "Pointer to this model's input schema document - the description of the body `POST /v1/models/{provider}/{model}` accepts for this model. Only the POINTER is part of this contract: the document it addresses is authored separately. Absent when no schema has been authored for the model."
    RouterModelId:
      type: string
      description: A canonical Comfy Router model ID, `{provider}/{model}` - exactly the value that addresses the model on `POST /v1/models/{provider}/{model}`, so a caller can interpolate it into that path without re-deriving it from anything. Its `pattern` is `RouterProviderSegment` and `RouterModelSegment` joined by a single `/`, and `maxLength` is their sum plus that separator.
      pattern: ^[a-z0-9]+([._-][a-z0-9]+)*/[a-z0-9]+([._-][a-z0-9]+)*$
      maxLength: 193
      example: fal-ai/flux-pro
    RouterModelInput:
      type: object
      description: "A partner model's native JSON input document, forwarded to the provider as-is. Its concrete shape is owned by the partner rather than by Comfy, so this is an open object: Router does not narrow, rename, or re-envelope the fields. It is a named component (never an inline anonymous object) because ComfyUI's spec-driven codegen needs a class to generate."
      additionalProperties: true
    RouterModelInputSchemaDocument:
      type: object
      description: A standalone OpenAPI document describing ONE Comfy Router model's input - the body `POST /v1/models/{provider}/{model}` accepts for that model. It is what `GET /v1/models/{provider}/{model}/openapi.json` returns.
      additionalProperties: true
    RouterModelListEntry:
      type: object
      description: "One entry in the Router model catalog: the identity of a runnable model, and nothing else. The per-model detail route composes this same entry rather than restating it, which is why the name is `...ListEntry` and not `...Summary` - there must be exactly one definition of what a catalog entry is. Per-model detail and the per-model input/output schemas are their own routes, so this shape stays the minimum a caller needs in order to invoke the model - deliberately, because this is the payload an SDK fetches on cold start. `id` is `provider` and `model` joined by `/`; the two fields are carried separately as well so a caller composes the invocation path without splitting a string."
      properties:
        id:
          $ref: "#/components/schemas/RouterModelId"
        provider:
          $ref: "#/components/schemas/RouterProviderSegment"
        model:
          $ref: "#/components/schemas/RouterModelSegment"
        billing:
          $ref: "#/components/schemas/RouterModelBilling"
      required:
        - id
        - provider
        - model
        - billing
    RouterModelListResponse:
      type: object
      description: One page of the Router model catalog.
      properties:
        data:
          type: array
          description: The models on this page, at most `limit` of them.
          items:
            $ref: "#/components/schemas/RouterModelListEntry"
        has_more:
          type: boolean
          description: Whether another page exists beyond this one. Keep walking while this is true; do not infer the end of the catalog from a short or empty `data`.
        next_cursor:
          $ref: "#/components/schemas/RouterPageCursor"
        limit:
          type: integer
          description: The page size actually served. A requested `limit` above the maximum is CLAMPED down to the maximum rather than rejected, so this can be smaller than the value asked for - paginate with this number, not with the one you sent, or you will assume rows you never received.
          minimum: 1
          maximum: 100
          example: 20
      required:
        - data
        - has_more
        - limit
    RouterModelOutput:
      type: object
      description: "A partner model's native JSON output document, returned to the caller as-is. Its concrete shape is owned by the partner rather than by Comfy, so this is an open object: Router does not narrow, rename, or re-envelope the fields. It is a named component (never an inline anonymous object) because ComfyUI's spec-driven codegen needs a class to generate."
      additionalProperties: true
    RouterModelSegment:
      type: string
      description: Lowercase `model` segment of the canonical `{provider}/{model}[/{variant}]` model ID - the model to run within that provider. Shared by the invocation route's `model` path parameter and a catalog entry's `model` field, for the same no-drift reason as `RouterProviderSegment`.
      pattern: ^[a-z0-9]+([._-][a-z0-9]+)*$
      maxLength: 128
      example: flux-pro
    RouterPageCursor:
      type: string
      description: "An OPAQUE cursor into a Router list. It is produced by the server and only ever round-tripped: it is not an offset, not a model ID, not ordered, and not stable across catalog rebuilds, so parsing one, incrementing one, or persisting one beyond the walk it came from are all outside the contract. Cursor rather than offset because the catalog is a moving list - an offset walk silently skips or repeats entries when entries are added or removed mid-walk, and a caller cannot tell that it happened."
      pattern: ^[A-Za-z0-9._~+/=-]+$
      minLength: 1
      maxLength: 512
      example: q7Fm2xTn9pLd4RsV
    RouterProviderSegment:
      type: string
      description: Lowercase `provider` segment of the canonical `{provider}/{model}[/{variant}]` model ID - the partner whose model is being addressed. The invocation route's `provider` path parameter and a catalog entry's `provider` field both reference this one schema, which is what keeps the listed IDs and the accepted IDs from drifting apart.
      pattern: ^[a-z0-9]+([._-][a-z0-9]+)*$
      maxLength: 64
      example: fal-ai
    RouterValidationErrorContext:
      type: object
      description: 'The violated bound for one `RouterValidationErrorDetail`, carried from the provider verbatim - for example `{"limit_value": 8}` alongside `greater_than`, `{"min_width": 512}` alongside `image_too_small`, or `{"max_size_bytes": 10485760}` alongside `file_too_large`. The key set is specific to the provider and the error type, so this is deliberately an open object: narrowing it to a fixed field list, or folding it into the `msg` string, is precisely how a ported integration compiles and then silently loses the branch that read the bound. Absent when the error type carries no bound.'
      additionalProperties: true
    RouterValidationErrorDetail:
      type: object
      description: "One model-level validation failure, in the fal/FastAPI form. `type` carries the SPECIFIC provider reason - `value_error`, `missing`, `image_too_small`, `unsupported_audio_format`, `greater_than`, `file_too_large` and the rest - which is the granularity `RouterErrorType`'s coarse bucket cannot express. It is an open string and not an `enum` for the same reason: the provider vocabulary runs to roughly 48 values across two tiers and grows on the provider's release cycle, not ours, and an unmodelled value must reach the caller rather than fail deserialization."
      properties:
        loc:
          type: array
          description: Path to the offending field, outermost segment first - for example `["body", "image_url"]`, or `["body", "images", 0]` where an integer indexes into an array.
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          type: string
          description: Human-readable description of this single failure.
        type:
          type: string
          description: Specific, machine-readable reason for this failure, passed through from the provider unchanged. This is the value a typed SDK exception hierarchy branches on; `error_type` on the response header is only its coarse bucket.
          example: image_too_small
        ctx:
          $ref: "#/components/schemas/RouterValidationErrorContext"
        input:
          $ref: "#/components/schemas/RouterValidationErrorInput"
      required:
        - loc
        - msg
        - type
    RouterValidationErrorInput:
      description: The offending input value, echoed back verbatim so a caller can see what was rejected without re-deriving it from `loc`. Any JSON type - string, number, boolean, array, object or null - so this schema is deliberately left untyped rather than narrowed to an object. Absent when the provider does not echo the input back.
    RouterValidationErrorResponse:
      type: object
      description: "Router's model-level `422` body, in the fal/FastAPI form: the request was well-formed enough to reach the model and the model rejected its contents. Note it carries no `error_type` of its own - that is what `X-Comfy-Error-Type` on the response is for, so a client can read the coarse bucket off the header without first deciding which of the two Router error bodies it received."
      properties:
        detail:
          type: array
          description: Every validation failure found on the request, one entry per offending field.
          items:
            $ref: "#/components/schemas/RouterValidationErrorDetail"
      required:
        - detail
  responses:
    RouterModelValidationError:
      description: The request reached the model and the model rejected its contents. The body is `RouterValidationErrorResponse`, the fal/FastAPI `detail[]` shape, so each offending field keeps its own specific `type` and `ctx`. `X-Comfy-Error-Type` carries the coarse bucket for the whole response.
      headers:
        X-Comfy-Error-Type:
          $ref: "#/components/headers/RouterErrorTypeHeader"
        X-Comfy-Request-Id:
          $ref: "#/components/headers/RouterRequestIdHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RouterValidationErrorResponse"
    RouterRequestError:
      description: A Router request-level failure - the request never reached the model, or failed for a reason the model itself did not report. The body is `RouterErrorResponse` and the bucket is repeated on `X-Comfy-Error-Type`.
      headers:
        X-Comfy-Error-Type:
          $ref: "#/components/headers/RouterErrorTypeHeader"
        X-Comfy-Request-Id:
          $ref: "#/components/headers/RouterRequestIdHeader"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RouterErrorResponse"
  parameters:
    RouterCatalogCursor:
      name: cursor
      in: query
      required: false
      description: Opaque pagination cursor. Pass a previous page's `next_cursor` to fetch the next page; omit it for the first page. See `RouterPageCursor` for why the value is opaque and why this route paginates by cursor rather than by offset.
      schema:
        $ref: "#/components/schemas/RouterPageCursor"
    RouterCatalogLimit:
      name: limit
      in: query
      required: false
      description: "Number of models to return in one page. Values above the declared maximum are outside the contract, but this route does not reject them: it serves the maximum instead, and the page size actually served is echoed back as `limit` on the response, so a clamp is always detectable by the caller. Treat the maximum as the real page stride - a client that asks for more and assumes it received more will miss rows. 0 and negative values are also accepted and select the default, which is why no `minimum` is declared: sub-1 is meaningful here, not invalid."
      schema:
        type: integer
        maximum: 100
        default: 20
    RouterModel:
      name: model
      in: path
      required: true
      description: Lowercase model segment of the canonical `{provider}/{model}[/{variant}]` model ID - the model to run within that provider.
      schema:
        $ref: "#/components/schemas/RouterModelSegment"
    RouterProvider:
      name: provider
      in: path
      required: true
      description: Lowercase provider segment of the canonical `{provider}/{model}[/{variant}]` model ID - the partner whose model is being run.
      schema:
        $ref: "#/components/schemas/RouterProviderSegment"
  headers:
    RouterErrorTypeHeader:
      description: Coarse, machine-readable bucket for the failure, set by Router on every error response. It carries the same value as `RouterErrorResponse.error_type`, and on the `422` it is the ONLY machine-readable bucket, because that body is the fal/FastAPI `detail[]` shape and has no `error_type` field of its own. A client can therefore branch on this header alone, before deciding which of the two Router error bodies it received.
      required: true
      schema:
        $ref: "#/components/schemas/RouterErrorType"
    RouterRequestIdHeader:
      description: Server-generated identifier for this call, present on EVERY Router response - success, 4xx and 5xx alike, because an error response is exactly when a user needs an id to quote in a support request. The SAME value is written into the call's usage/audit event, which is what lets a complaint about a charge be joined to the charge itself instead of searched for by timestamp.
      required: true
      schema:
        type: string
        format: uuid
        example: 6f1a1a6e-6a53-4a5f-9d3a-2b3b0a1f9c21
    RouterSchemaCacheControlHeader:
      description: Freshness directives for the served schema document. `private` because the route is authenticated - the document itself is not caller-specific, but a shared cache must not hold a response to an authenticated request - and `must-revalidate` so a stale copy is revalidated against the `ETag` rather than served on.
      required: false
      schema:
        type: string
        example: private, max-age=300, must-revalidate
    RouterSchemaETagHeader:
      description: Strong entity tag over the served document's bytes, for `GET /v1/models/{provider}/{model}/openapi.json`. A per-model schema changes rarely and an SDK re-fetches it often, so a caller should store this value and send it back as `If-None-Match` to get a `304` instead of the document.
      required: true
      schema:
        type: string
        example: '"6b8c1f2e0a9d4c3b5e7f8a1b2c3d4e5f60718293a4b5c6d7e8f90a1b2c3d4e5f"'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
